<h1>This is a single question for the question with id <%= @question.id %></h1>

<p><%= @question.content %></p>
<p><%= @question.author.username %></p>

<button id="new_answer_button">New Answer</button>

<ul class="answer_list">
<% @answers.each do |answer| %>
<li><%= answer.content %></li>
<li><%= answer.author.username %></li>
<% end %>
</ul>


<form id="new_answer_form" action="/questions/<%= @question.id %>/answers"><textarea name="answer" placeholder="add your answer here" cols="50" rows="3"></textarea><input type="submit" name="post" value="Submit answer"></form>