<div class="wrapper">
  <div class="show-title">
    <h1>This is a single question for the question with id <%= @question.id %></h1>

    <p><%= @question.content %></p>
    <p class="author"><%= @question.author.username %></p>
  </div>

  <div class="show-answer">
    <ul class="answer_list">
    <% @answers.each do |answer| %>
      <div class="answer_content"><%= erb(:"answers/_index", :layout => false, locals: {answer: answer}) %></div>
      <%= erb(:"answers/_edit", :layout => false, locals: {question: @question, answer: answer}) %>
      <%= erb(:"comments/_new", :layout => false, locals: {question: @question}) %>
    <% end %>
        <!-- <button id="new_comment_button">Create comment</button> -->
    </ul>
  </div>
    <%= erb(:"answers/_new", :layout => false, locals: {question: @question}) %>
</div>

<div>
  <button id="new_answer_button" class="btn btn-success">New Answer</button>
</div>