<li><%= answer.content %></li>
<li><%= answer.author.username %></li>
<% if answer.author.id == session[:user_id] %>
  <button data-url="/questions/<%= answer.question_id %>/answers/<%= answer.id %>/edit" id="edit_answer_button">Edit Answer</button>
<% end %>
<button id="new_comment_button" class="btn btn-info">Create comment</button>

<ul class="comment_list">
  <% answer.comments.each do |comment| %>
    <div class="comment_content"><%= erb(:"comments/_index", :layout => false, locals: {comment: comment}) %></div>
    <%= erb(:"comments/_edit", :layout => false, locals: {question: @question, comment: comment}) %>
  <% end %>
</ul>

